.apo {
  prose-mirror {
    border: 1px solid;
    border-radius: 10px;
  }
  .users {
    align-items: center;
    .user {
      width: 90%;
      min-width: 90%;
      text-align: center;
    }
  }
  .form-group {
    label {
      min-width: 250px;
    }
    select,
    input {
      text-align: center;
    }
    .flexcol {
      label {
        text-align: center;
      }
    }
  }
}
.apo-hover {
  background: white;
  color: black;
  img {
    max-height: 550px;
  }
  .text{
  padding:5px;
}
}
.custom-width {
  min-width: 600px;
}
