.apo {
  prose-mirror {
    border: 1px solid;
    border-radius: 10px;
  }
  .users {
    align-items: center;
    .user {
      width: 90%;
      min-width: 90%;
      text-align: center;
    }
  }
}
.apo-hover {
  background: white;
  color: black;
  img {
    max-height: 550px;
  }
}
